<div class="container mt-4">
  <div class="card">
    <div class="header bg-info text-white p-2">
      <h5 class="mb-0 text-left">Upcoming conferences</h5>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Starts</th>
                <th>Ends</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let conferencia of conferencias">
                <td>{{ conferencia.id }}</td>
                <td (click)="onSelected(conferencia)"><a href="#">{{ conferencia.name }}</a></td>
                <td>{{ conferencia.starts }}</td>
                <td>{{ conferencia.ends }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6" *ngIf="selected">
        <app-conferencia-detail [conferenciaDetail]="selectedConferencia"></app-conferencia-detail>
      </div>
    </div>
  </div>
</div>

